.Flex__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Flex__row--space-between { justify-content: space-between; }

.Flex__row--space-around { justify-content: space-around; }